# Practice using Naive Bayes

## Import modules

In [1]:
import sys
from time import time
sys.path.append("../tools/")
from email_preprocess import preprocess

## Initialize test and train data

In [2]:
features_train, features_test, labels_train, labels_test = preprocess()

no. of Chris training emails: 7936
no. of Sara training emails: 7884

##

In [3]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
t0 = time()
gnb.fit(features_train, labels_train)
print(f"Training time: {round(time()-t0, 3)}s")

Training time: 0.818s

## Test classifier

In [4]:
t0 = time()
y_pred = gnb.predict(features_test)
print(f"Prediction time: {round(time()-t0, 3)}s")
print(f"Correctly predicted out of {features_test.shape[0]}: {(labels_test == y_pred).sum()}")
print(gnb.score(features_test, labels_test))

Prediction time: 0.126s
Correctly predicted out of 1758: 1711
0.9732650739476678

In [5]:
import pandas as pd
df = pd.DataFrame(features_test)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,3775,3776,3777,3778,3779,3780,3781,3782,3783,3784
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0